
# CYDONIA ATMOSPHERIC CONFIGURATION
# WARNING: DO NOT COMMIT REAL CREDENTIALS TO GIT

# [ SERVER CORE ]
PORT=3000
NODE_ENV=development
JWT_SECRET=super_secret_override_key_99

# [ DATABASE ]
# Local path for SQLite
DATABASE_URL="file:./dev.db"

# [ FRONTEND ]
VITE_API_URL="http://localhost:3000"

# [ SYSTEM PARAMETERS ]
# Global calibration for O2 generators
DEFAULT_O2_TARGET=210000
SHIELD_FREQUENCY_HZ=60
