
# Variáveis de ambiente para o backend (Go)

# Configurações do PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=taskdb
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable

# Chave secreta para JWT (Mude para uma chave forte em produção!)
JWT_SECRET=supersecretkey
